In [1]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import time
import pandas as pd

In [2]:
executable_path = {'executable_path': 'C:/chromedrv/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
news_url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(news_url)

news_html = browser.html

news_soup = BeautifulSoup(news_html, 'html.parser')

In [4]:
n_title = news_soup.find('div', class_='content_title').find('a').text.strip()
n_title

"NASA's MRO Completes 60,000 Trips Around Mars"

In [5]:
n_description = news_soup.find('div', class_='rollover_description').text
n_description

'The orbiting spacecraft is also about to set a record for data relayed from the Martian surface.'

In [6]:
base_image_url = 'https://www.jpl.nasa.gov'
space_image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(space_image_url)

browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(3)
browser.click_link_by_partial_text('more info')
image_html = browser.html
time.sleep(1)
image_soup = BeautifulSoup(image_html, 'html.parser')
#browser.find_link_by_partial_href('largesize').click()
#time.sleep(2)
#browser.find_link_by_partial_href('largesize').click()

In [7]:
links =[]
[links.append(item['href']) for item in image_soup.find_all('a', attrs={'href' : True})]
links[56]

'/spaceimages/images/largesize/PIA16763_hires.jpg'

In [8]:
featured_image_url  = base_image_url + links[56]
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16763_hires.jpg

In [9]:
# Visit Mars Weather Twitter through splinter module
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)

weather_html = browser.html
weath_soup = BeautifulSoup(weather_html, 'html.parser')

In [10]:
weather_twt = weath_soup.find_all('div', class_='context')
#.find_all(class_='js-tweet-text-container')
if weather_twt[0].text.strip() == 'Mars Weather Retweeted':
    weather_twt = weath_soup.find_all(class_='js-tweet-text-container')
    wt = weather_twt[1].text.strip()
else:
    weather_twt = weath_soup.find_all(class_='js-tweet-text-container')
    wt = weather_twt[0].text.strip()
wt

'InSight sol 167 (2019-05-17) low -100.5ºC (-148.9ºF) high -20.4ºC (-4.6ºF)\nwinds from the SW at 4.7 m/s (10.6 mph) gusting to 13.5 m/s (30.3 mph)\npressure at 7.50 hPapic.twitter.com/0Eqt9nN21o'

In [29]:
# Visit Mars facts url 
facts_url = 'http://space-facts.com/mars/'

#create a dataframe from the read data at position 0
mars_facts = pd.DataFrame(pd.read_html(facts_url)[0])
mars_facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
#rename columns
mars_facts.columns = ['Description','Value']
mars_facts

mars_facts.set_index('Description', inplace=True)
mars_facts

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [50]:
table_html =  mars_facts.to_html()
table_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [40]:
hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
base_url = 'https://astrogeology.usgs.gov'
browser.visit(hemi_url)
i=0
hemi_html = browser.html
hemi_soup = BeautifulSoup(hemi_html,'html.parser')
hemi = hemi_soup.find_all('a',class_='itemLink product-item')
hemi_urls =[]
for h in hemi:
    try:
        link =  hemi[i]['href']
        i+=2
        hemi_urls.append(base_url + link)
    except(IndexError):
        print('done')

done
done
done
done

In [49]:
j=0
img_list=[]
title_list =[]
hemi_dict = []
for u in hemi_urls:
    browser.visit(hemi_urls[j])
    html = browser.html
    ur = BeautifulSoup(html,'html.parser')
    img = ur.find('img',class_='wide-image')
    #cerb_img['img']
    img_list.append(base_url+img['src'])
    j+=1
    hemi_title = ur.find('h2').text
    hemi_title = hemi_title.replace(r' Enhanced', '')
    title_list.append(hemi_title)
    hemi_dict.append({"title" : hemi_title, "img_url" : base_url+img['src']})
img_list
title_list    
hemi_dict

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [259]:
# browser.find_link_by_partial_text('Cerberus').click()
# time.sleep(3)
# browser.find_link_by_partial_text('Open').click()
# cerb_html = browser.html